.check-box-wrapper {
  flex-flow: row wrap;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 6px;
}

.check-box-wrapper input {
  position: absolute;
  display: none;
}

.check-box-wrapper label {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  gap: 4px;
  width: 100%;
  align-self: stretch;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.24px;
  text-align: left;
  color: var(--gray-85);
}

.check-box-wrapper label::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('/images/icon/ico-checkbox.svg');
}

.check-box-wrapper:has(input:not(:checked)):hover label:not(.indeterminate)::before {
  background-image: url('/images/icon/ico-checkbox-hover.svg');
}

.check-box-wrapper label.bottom {
  flex-direction: column;
}

.check-box-wrapper label.top {
  flex-direction: column-reverse;
}

.check-box-wrapper label.left {
  flex-direction: row-reverse;
}

.check-box-wrapper:has(input:checked) label::before {
  background: url('/images/icon/ico-checkbox-checked.svg') no-repeat center / cover;
}

.check-box-wrapper input + .indeterminate::before {
  background: url('/images/icon/ico-checkbox-indeterminate.svg') no-repeat center / cover !important;
}

.w-24::before {
  width: 24px;
  height: 24px;
}

.w-28::before {
  width: 28px;
  height: 28px;
}

.check-box-wrapper label.w-28::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/icon/ico-l-checkbox.svg');
}

.check-box-wrapper:has(input:checked) label.w-28::before {
  background: url('/images/icon/ico-l-checkbox-checked.svg') no-repeat center / cover;
}

.check-box-wrapper input + .indeterminate.w-28::before {
  background: url('/images/icon/ico-l-checkbox-indeterminate.svg') no-repeat center / cover;
}

.check-box-wrapper:hover {
  background-color: var(--gray-05);
}

.check-box-wrapper:active {
  background-color: var(--gray-10);
}

.transparent:hover {
  background-color: transparent;
}

.transparent:active {
  background-color: transparent;
}

.check-box-wrapper.compact {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.check-box-wrapper.compact:hover,
.check-box-wrapper.compact:active {
  background-color: transparent;
}

.check-box-wrapper .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: -0.24px;
  text-align: left;
  color: var(--gray-85);
}
