.toast-popup {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 20px;
  border-radius: 99px;
  box-shadow: 0 6px 40px 5px rgb(0 0 0 / 2%),
  0 16px 28px 2px rgb(0 0 0 / 4%),
  0 8px 20px -5px rgb(0 0 0 / 8%);
  border: solid 1px rgb(112 115 124 / 18%);
  background-color: #1d1e20;
  z-index: 120;
  max-width: 600px;
  width: fit-content;
}

.toast-content {
  gap: 6px;
  display: flex;
  align-items: center;
}

.toast-content > svg {
  margin-left: 20px;
  left: 0;
  position: absolute;
}

.toast-content span {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.2px;
  text-align: left;
  color: #f4f4f5;
  margin-left: 30px;
  margin-right: 30px;
  word-break: keep-all;
}

.toast-content span strong {
  font-weight: 500;
  color: #f4f4f5;
}

.toast-content span + button {
  margin-right: 20px;
  right: 0;
  position: absolute;
}

.toast-content button {
  padding: 0;

  & > svg {
    color: #afb1b5;
  }
}

.toast-content button:hover {
  background-color: transparent;
}

.toast-popup.isMultiLine {
  padding: 20px;
  border-radius: 20px;
}
