.tippy-wrapper {
  display: flex;
  flex-direction: column;
}

.tippy-wrapper .title {
  display: flex;
  gap: 4px;
  margin: 8px 0 16px;
  white-space: pre-wrap;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: #f4f4f5;
}

.tippy-wrapper .description {
  flex-grow: 1;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.2px;
  color: #afb1b5;
  word-break: break-word;
}

.content {
  display: flex;
  align-items: center;
}

.content.gap {
  gap: 14px;
}

.content.bar:hover {
  border-radius: 8px;
  background-color: #f4f4f5;
}

.content.bar > :first-child::after {
  content: '';
  width: 1px;
  height: 12px;
  display: block;
  position: relative;
  right: -7px;
  top: 6px;
  transform: translateY(-50%);
  background-color: rgb(112 115 124 / 48%); /* 바 색상 */
}